<!doctype html>
<html lang="en" ng-app="ltwApp">
<head>
  <meta charset="utf-8">
  <title>Test</title>
  <link rel="stylesheet" href="css/bootstrap.min.css"/>
</head>
<body>
    <div class="jumbotron">
            <h1>{{name}} image</h1>
            <img src="img/{{name}}">
    </div>
</body>
</html>
