<!doctype html>
<html lang="en" ng-app="ltwApp">
<head>
  <meta charset="utf-8">
  <title>Test</title>
  <link rel="stylesheet" href="css/bootstrap.min.css"/>
</head>
<body>
    <div class="jumbotron">
            <h1>test</h1>
            <form action="" method="post" enctype="multipart/form-data">
                <input  id="name" type="text" name="name" class="form-control" placeholder="Name">
                <input  id="file" type="file" name="file">
                <button id="submit" type="submit" class="btn btn-success">Submit</button>
            </form>
    </div>
</body>
</html>
