<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Test</title>
  <link rel="stylesheet" href="css/bootstrap.min.css"/>
</head>
<body>
    <div class="jumbotron">
            <h1>test</h1>
            <form id="imageForm" action="" method="post" enctype="multipart/form-data">
                <input  id="name" type="text" name="name" class="form-control" placeholder="Name" required>
                <input  id="file" type="file" name="file" onchange="submitForm()" required>
                <button id="submit"  name="submit" type="submit" class="btn btn-success">Submit</button>
            </form>
    </div>
        
    <script>
    function submitForm()
    {
        document.getElementById("imageForm").submit.click();
    }
    </script>
</body>
</html>
